page-login{
  ion-content{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b00cc+0,0e7cd6+50,3096e5+100 */
    background: rgb(27,0,204); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(27,0,204,1) 0%, rgba(14,124,214,1) 50%, rgba(48,150,229,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(27,0,204,1) 0%,rgba(14,124,214,1) 50%,rgba(48,150,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(27,0,204,1) 0%,rgba(14,124,214,1) 50%,rgba(48,150,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b00cc', endColorstr='#3096e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

img{
    position: relative;
    left: 16%;
}

// img{
//     position: relative;
//     left: 43%;
//   }
}
