page-login{
  ion-content{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c1159+0,6624b7+50,3700b7+100 */
background: rgb(12,17,89); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(12,17,89,1) 0%, rgba(102,36,183,1) 50%, rgba(55,0,183,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(12,17,89,1) 0%,rgba(102,36,183,1) 50%,rgba(55,0,183,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(12,17,89,1) 0%,rgba(102,36,183,1) 50%,rgba(55,0,183,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
img{
    position: relative;
    left: 20%;
  }
}
