page-loginweb {
  ion-content{
    background: linear-gradient(270deg, #2a02ca, #6191e1, #5a65c1);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;

     @-webkit-keyframes AnimationName {
         0%{background-position:0% 50%}
         50%{background-position:100% 50%}
         100%{background-position:0% 50%}
     }
     @-moz-keyframes AnimationName {
         0%{background-position:0% 50%}
         50%{background-position:100% 50%}
         100%{background-position:0% 50%}
     }
     @keyframes AnimationName {
         0%{background-position:0% 50%}
         50%{background-position:100% 50%}
         100%{background-position:0% 50%}
     }
  }
  img{
    position: relative;
    left: 15%;
  }
}    
.swal-modal {
  background-color: rgb(153, 179, 255);
  border: 3px solid white;
}
.swal-text {
  background-color: #FEFAE3;
  padding: 17px;
  border: 1px solid #F0E1A1;
  display: block;
  margin: 22px;
  text-align: center;
  color: #61534e;
}
.swal-footer {
  background-color: rgb(204, 217, 255);
  margin-top: 32px;
  border-top: 1px solid #E9EEF1;
  overflow: hidden;
}
